@import "~normalize.css/normalize.css"
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

body
  font-size: 13px
  font-family: sans-serif
  background: #fff
  color: #5d5d5d

a
  text-decoration: none
  color: #000

  &:hover
    text-decoration: underline

header
  ul
    list-style: none
    display: flex
    flex-flow: row wrap
    justify-content: flex-end

    li
      margin: 0 10px

.main
  width: 100%
  height: 100%
  display: flex
  flex-flow: column nowrap
  align-items: center

.logo
  width: 650px
  height: auto

  @media screen and (max-width: 720px)
    width: 80%

.short-link-form
  margin: 30px 0
  width: 100%
  height: 90px
  display: flex
  flex-flow: row nowrap
  align-items: stretch
  background-color: #EFEFEF

  .short-link-form__input-container
    flex-grow: 1
    display: flex
    justify-content: center
    align-items: center

    .material-icons
      margin-left: 25px
      font-size: 40px
      color: #9c9c9c

    .short-link-form__input
      flex-grow: 1
      border: 0
      font-size: 20pt
      padding: 0 15px
      outline: none
      background-color: transparent

  .short-link-form__submit
    border: 0
    background-color: #f0b233
    padding: 10px 32px
    cursor: pointer

    .material-icons
      font-size: 33px
      color: #fff

    &:hover
      background-color: #73706a
