version: '3'
services:
  server:
    build: .
    links:
      - db
  client:
    build: client
    ports:
      - 3000:3000
    links:
      - server
  db:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ./data:/data/db