@import "compass";
@import "ceaser-easing";
@import "modules/mixins";

.button {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-family: 'Novecento Sans W01 Lt', sans-serif;
  font-size: .9rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  vertical-align: bottom;
  -webkit-appearance: none;
  @include border-radius(0);

  &[readonly], &[disabled],
  &[readonly]:hover, &[disabled]:hover {
    cursor: default;
    background: #ebebeb;
  }

  .button-icon {

  }

  .button-text {
    display: inline;
    margin: 15px 0 0 5px;
  }
}

.button-icon {
  margin-right: -5px;
  font-size: 15px;
}

.button-group {
  .button:first-child {
    width: 80%;
  }

  .button:last-child {
    width: 20%;
  }
}

$button_green_color: #54bd7e;
.button-green {
  background: $button_green_color;
  color: #fff;

  &:hover, &:active {
    background: darken($button_green_color, 5%);
    color: #fff;
  }
}

$button_darkgreen_color: #46A866;
.button-darkgreen {
  background: $button_darkgreen_color;
  color: #fff;

  &:hover, &:active {
    background: darken($button_darkgreen_color, 5%);
    color: #fff;
  }
}

$button_red_color: #B13254;
.button-red {
  background: $button_red_color;
  color: #fff;

  &:hover, &:active {
    background: darken($button_red_color, 5%);
    color: #fff;
  }
}
