@import "compass";
@import "modules/mixins";

.flash-message {
  @extend %clearfix;
  padding: 23px 22px;
  background: #FFF;
  position: absolute;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  cursor: pointer;

  @include transition(all .3s ease-in-out);

  &.invisible {
    @include transform(scaleY(0));
  }

  &.error {
    background: #FF2940;
    color: #fff;
  }

  &.notice {
    background: #21CC6B;
    color: #fff;
  }

  .flash-text {
    float: left;
    font-size: 16px;
  }
}
