.row {
  width: 100%;

  &:before, &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.col-1 {
  width: 8.333333333333332%;
}

.col-2 {
  width: 16.666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.66666666666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333333%;
}

.col-11 {
  width: 91.666666667%;
}

.col-1, .col-2, .col-3, .col-4, .col-6, .col-8, .col-9, .col-10, .col-11 {
  float: left;
  position: relative;
  //padding: 15px;
  //@include box-sizing(border-box);
}

.col-push-4 {
  left: 33.33333333333333%;
}

.col-push-8 {
  left: 66.66666666666666%;
}

.col-pull-4 {
  right: 33.33333333333333%;
}

.col-pull-8 {
  right: 66.66666666666666%;
}

.col-pull-9 {
  right: 75%;
}
