/*
 *= require components/flash_message

 *= require_self
 *= require links
 *= require static_pages
*/

@import "compass/reset";
@import "compass";
@import "ceaser-easing";
@import "font-awesome";

@import "modules/mixins";

$font_color: #5d5d5d;
$bg_color: #f7f7f7;
$high_color: #f7ee5e;
$thin_color: #dbdbdb;

*, *:before, *:after {
  @include box-sizing(border-box);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 13px;
  font-family: $ff-gothic-full;
  background: $bg_color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @include font-colors($font_color);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: 'Novecento Sans W01 Bd', sans-serif;
  font-size: 33px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Novecento Sans W01 Bd', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

h3 {
  font-family: 'Novecento Sans W01 Bd', sans-serif;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin-bottom: 15px;
}

ul {
  li {
    margin-bottom: 5px;
  }
}

ul.horizontal {
  @extend %clearfix;
  display: inline-block;

  li {
    float: left;
    margin-left: 10px;
  }

  li:first-child {
    margin-left: 0;
  }

  li:not(:first-child)::before {
    content: "•";
    margin-right: 10px;
  }
}

#error_explanation {
  background: #ededed;
  border: 4px dashed #bdbdbd;
  padding: 10px;
}

.wrapper {
  padding: 15px;
}

.group {
  margin: 20px 0;
}

.group-large {
  margin: 80px 0;
}

.input-group {
  margin: 5px 0 0;
}

input[type=text], input[type=email], input[type=password] {
  padding: 12px;

  border: 1px solid #cacaca;
  @include border-radius(2px);
  outline: none;
  background: #fff;
  font-size: 30px;
  font-weight: thin;
}

.address-field {
  max-width: 870px;
  position: relative;
  margin: 24px auto 12px;

  .text-field {
    width: 100%;
    height: 100%;
  }

  .submit-button {
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 0 20px;

    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    &:hover {
      background: #f9c06f;

      i {
        color: #fff;
      }
    }

    i {
      font-size: 40px;
      color: #a29e96;
    }
  }
}

header {
  border-top: 5px solid #f9c64c;
}

section.promo {
  margin-top: 50px;

  text-align: center;

  .logo {
    max-width: image-width('logo_doodle1.png');
  }
}
