.logo {
  width: 650px;
  height: auto;
}

#root {
  padding: 30px;
  text-align: center;
}

input {
  border: 0;
  width: 100%;
  font-size: 15pt;
  padding: 12px;
  background-color: #EFEFEF;
}

button {
  border: 0;
  background-color: #A29E96;
  color: #fff;
  font-size: 15pt;
  padding: 12px;
  cursor: pointer;
}
